{% extends 'dashboard/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'dashboard/css/class_edite.css' %}" />
{% endblock style %} {% block content %}
<div class="container">
  <div class="detail-container">
    <!-- Top Header Card -->
    <div class="header-card">
      <div class="header-info">
        <div class="header-icon">📄</div>
        <div class="header-text">
          <h1>ویرایش مشخصات صنف <span>کد: #CLS-{{class.id}}</span></h1>
          <div style="margin: 4px 0">
            <span class="status-dot"></span>
            
            {% if class.status.id == 1 %}
                      <span
              style="color: var(--primary); font-size: 0.9rem; font-weight: 500"
              >در حال تدریس و فعال</span
            >
            {% else %}
            <span
              style="color: var(--text-muted); font-size: 0.9rem; font-weight: 500"
              >غیرفعال و بایگانی شده</span>
            {% endif %}
              
    
          </div>
          <div class="header-subtext">
            صنف {{class.alpha_grade}} عالی - شعبه {{class.section}} | سال تحصیلی مصوب: {{class.academic_year}}
          </div>
        </div>
      </div>
      {% if class %}
      <form action="{% url 'dashboard:class-edite' id=class.id %}" method="post">
        {% else %}
              <form action="{% url 'dashboard:class-register' %}" method="post">
        {% endif %}
      {% csrf_token %}
      <div class="header-actions">
        <a href="{% url 'dashboard:class-list' %}" class="btn btn-text">انصراف و بازگشت ✕</a>
        <button type="submit" class="btn btn-primary">ذخیره تغییرات صنف 💾</button>
      </div>
    </div>

    <!-- Main Content Layout -->
    <div class="main-layout">
      <!-- RIGHT COLUMN: MAIN FORM -->
      <div class="main-content">
        <!-- Section 1 -->
        <div class="card">
          <div class="section-header">
            <div class="section-title-wrapper">
              <div class="blue-indicator"></div>
              <div class="section-title">
                <h2>مشخصات پایه و هویت صنف</h2>
                <p>اطلاعات هویتی و ثبت ساختار سازمانی صنف تحصیلی</p>
              </div>
            </div>
            <div class="section-progress">بخش ۱ از ۴</div>
          </div>

          <div class="form-grid">
            <div class="form-group">
              <label>کد سیستمی صنف  *</label>
              <div class="input-wrapper">
                <span class="icon-right" style="font-size: 0.75rem"
                  >غیرقابل تغییر</span
                >
                <input
                  type="text"
                  class="form-control disabled input-icon-right input-icon-left"
                  value="CLS-{{class.id}}"
                  disabled
                  style="text-align: center"
                />
                <span class="icon-left">🔒</span>
              </div>
            </div>

            <div class="form-group">
              <label>سال تحصیلی مصوب *</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  class="form-control input-icon-left"
                  value="{{class.academic_year}}"
                />
                <span class="icon-left">📅</span>
              </div>
            </div>

            <div class="form-group">
              <label>پایه تحصیلی عددی (Grade) *</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  class="form-control input-icon-left"
                  value="{{class.alpha_grade}}"
                />
                <span class="icon-left">#</span>
              </div>
            </div>

            <div class="form-group">
              <label>شعبه و بخش صنف (Section) *</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  class="form-control input-icon-left"
                  value="{{class.section}}"
                />
                <span class="icon-left">🏢</span>
              </div>
            </div>

          </div>
        </div>

        <!-- Section 2 -->
        <div class="card">
          <div class="section-header">
            <div class="section-title-wrapper">
              <div class="blue-indicator"></div>
              <div class="section-title">
                <h2>کادر نظارتی و استاد راهنما (Guidance)</h2>
                <p>انتصاب ناصح و سرپرست امور تربیتی و انضباطی صنف</p>
              </div>
            </div>
            <div class="section-progress">بخش ۲ از ۴</div>
          </div>

          <div class="form-group" style="margin-bottom: 24px">
            <label>انتخاب استاد راهنما (ناصح صنف) *</label>
            <div class="input-wrapper">
              <select class="form-control input-icon-left">
                <option>
                 {{class.guidence}}
                </option>
              </select>
              <span class="icon-left" style="pointer-events: none">👨‍🏫</span>
            </div>
          </div>

          <div class="teacher-box">
            <a href="{% url 'dashboard:worker-detail' pk=class.guidence.id %}" class="teacher-link">❮ مشاهده دوسیه کامل استاد</a>

            <div class="worker-details">
              <div class="teacher-info" style="text-align: right">
                <h4>{{class.guidence.name}} {{class.guidence.last_name}}<span>استاد رسمی </span></h4>
                <p style="direction: ltr; justify-content: flex-end">
                  📞 {{class.guidence.phone}}
                </p>
                <p style="direction: ltr; justify-content: flex-end">
                  ✉ {{class.guidence.email}}
                </p>
                <p>استاد مضمون: {{class.guidence.teachersubject.subject.name}}</p>
              </div>
              <img
                src="https://i.pravatar.cc/150?img=11"
                alt="{{class.guidence.name}} {{class.guidence.last_name}}"
                class="teacher-avatar"
              />
            </div>
          </div>

        </div>

  
      </div>

      <!-- LEFT COLUMN: SIDEBAR -->
      <div class="sidebar1">
        <!-- Location & Capacity Card -->
        <div class="card sidebar1-card">
          <div class="section-title-wrapper" style="margin-bottom: 20px">
            <div class="blue-indicator"></div>
            <div class="section-title">
              <h2>ظرفیت و موقعیت صنف</h2>
              <p>مقررات مکانی و گنجایش شاگردان</p>
            </div>
          </div>

          <div class="form-group" style="margin-bottom: 16px">
            <label>شماره اتاق و موقعیت جغرافیایی</label>
            <div class="input-wrapper">
              <input
                type="text"
                class="form-control input-icon-right"
                value="اتاق ۳۰۲ (طبقه دوم - بلاک علوم)"
              />
              <span class="icon-right">🚪</span>
            </div>
          </div>

          <div class="form-group" style="margin-bottom: 16px">
            <label>نوبت تحصیلی و ساعات فعالیت</label>
            <div class="input-wrapper">
              <input
                type="text"
                class="form-control input-icon-right"
                value="نوبت صبح (۰۸:۰۰ صبح الی ۱۲:۳۰)"
              />
              <span class="icon-right">⏱</span>
            </div>
          </div>

          <div class="form-group">
            <label style="display: flex; justify-content: space-between">
              ظرفیت مصوب صنف (سیت)
              <strong>۳۵ نفر</strong>
            </label>
            <div class="input-wrapper">
              <input
                type="text"
                class="form-control input-icon-right"
                value="35"
                style="text-align: left; direction: ltr"
              />
              <span class="icon-right">👥</span>
            </div>
          </div>
        </div>

        <!-- Stats Card -->
        <div
          class="card sidebar-card"
          style="background-color: var(--bg-page); border: none"
        >
          <div class="stats-header">
            <div class="stats-header-text">
              <h3>۳۲ شاگرد ثبت‌نام شده <span>۹۱.۴٪</span></h3>
              <p
                style="
                  font-size: 0.8rem;
                  color: var(--text-muted);
                  margin-top: 4px;
                "
              >
                فعال
              </p>
            </div>
            <div class="stats-badge">تکمیل</div>
          </div>

          <div class="progress-bg">
            <div class="progress-fill"></div>
          </div>

          <div class="stats-footer">
            <span><span class="status-dot"></span> ۳۲ پرشده</span>
            <span>۳ سیت خالی باقی‌مانده</span>
          </div>
        </div>

        <!-- Actions Card -->
        <div class="card sidebar-card">
          <div class="section-title-wrapper" style="margin-bottom: 20px">
            <div class="blue-indicator"></div>
            <div class="section-title">
              <h2>وضعیت و عملیات صنف</h2>
              <p>دستورات اداری و اسناد رسمی</p>
            </div>
          </div>

          <div class="status-toggle">
            <div>
              <div style="font-weight: 500; font-size: 0.9rem">
                وضعیت فعالیت صنف
              </div>
              <div style="font-size: 0.8rem; color: var(--text-muted)">
                صنف فعال و در حال تدریس
              </div>
            </div>
            <div class="toggle-switch">
              <div class="toggle-knob"></div>
            </div>
          </div>

          <ul class="action-list">
            <li>
              <div class="action-list-left">
                <span class="action-icon">🪪</span>
                <span>چاپ کارت‌های شناسایی شاگردان این صنف</span>
              </div>
              <span>❮</span>
            </li>
            <li>
              <div class="action-list-left">
                <span class="action-icon">📊</span>
                <span>خروجی لایحه و تقویم درسی (PDF)</span>
              </div>
              <span>❮</span>
            </li>
            <li>
              <div class="action-list-left">
                <span class="action-icon">🗄</span>
                <span>بایگانی و انتقال صنف به پایان سال</span>
              </div>
              <span>❮</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Sticky Footer -->
  <div class="sticky-footer">
    <div class="footer-info">
      <span>⏱</span> آخرین به‌روزرسانی: ۲ ساعت قبل توسط مدیر سیستم (ادمین)
    </div>
    <div class="footer-actions">
    
      <a href="{% url 'dashboard:class-list' %}" class="btn btn-text">انصراف</a>
      <button type="submit" class="btn btn-primary">✓ ذخیره و به‌روزرسانی نهایی</button>
    </div>
  </div>
</div>
{% endblock content %}
